*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100vh;
}

main{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: "uno dos  dos  cuatro"
                         "uno tres tres cuatro"
                         "cinco cinco seis seis";
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    border: 0.1rem solid black;
}

.uno{
    grid-area: uno;
    background-color: green;
}

.dos{
    grid-area: dos;
    background-color: yellow;
}

.tres{
    grid-area: tres;
    background-color: yellow;
}

.cuatro{
   grid-area: cuatro;
    background-color: green;
}

.cinco{
    grid-area: cinco;
    background-color: pink;
}

.seis{
    grid-area: seis;
    background-color: skyblue;
}

/*Vista Tablet*/
@media (min-width: 50rem) and (max-width: 75rem){
    main{
        display: grid;
        grid-template-areas: "uno uno  uno  dos"
                             "tres tres tres cuatro"
                             "cinco cinco cinco seis";
    }

    .uno{
        background-color: green;
    }

    .dos{
        background-color: green;
    }

    .tres{
        background-color: yellow;
    }

    .cuatro{
        background-color: yellow;
    }

    .cinco{
        background-color: pink;
    }

    .seis{
        background-color: skyblue;
    }
}

/*Vista Mobile*/
@media (max-width: 50rem){
    main{
        grid-template-areas: "uno"
                             "dos"
                             "tres"
                             "cuatro"
                             "cinco"
                             "seis"
    }
.uno{
    background-color: green;
}

.dos{
    background-color: green;
}

.tres{
    background-color: yellow;
}

.cuatro{
    background-color: yellow;
}

.cinco{
    background-color: skyblue;
}

.seis{
    background-color: pink;
}


}
